@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

h1 {
    font-size: 36px;
    font-weight: 600;
    margin: 10px;
    margin-top: 15px;
    padding: 15px;
    color: white;
    text-transform: uppercase;
}

#form{
    margin: 20px;
    padding: 30px;
    background-color: #191919;
    opacity: 0.5;
    border-radius: 25px;
    width: 40vw;
    box-shadow: 0 0 10px 5px rgba(0, 255, 255, 0.8);
  }

#conteudoForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 16px;
    color: white;
    font-weight: 400;
    padding: 15px; 
}

button {
    font-weight: 600;
    padding: 10px;
    margin: 6px;
    opacity: 0.5;
    border-radius: 10px;
    border-style: none;
    box-shadow: 50, 25, 0.16 #ffff;
    background-color: #ffff;
    cursor: pointer;
    font-size: 14px;
}

label {
    font-size: 16px;
    color: white;
    font-weight: 400;
    padding: 10px;
}

input {
   padding: 12px;
   border-radius: 10px;
   background-color: #303030;
   border-style: none;
   outline: 0;
   cursor: pointer;
}